### 1. Use read_csv() to read the responses of a previous semesters entry poll from this source 
    a) Read the attached file “master_data_ready.csv” and assign it to the variable ‘ep’.
    b) How many variables and responses are there? What are these variables and responses in terms of the dataset?
    c) Display the datatypes of the variables.
    d) Change the variable names to something shorter.
    e) Describe what the following code does: ep[list(ep)[1]].value_counts().
    Suggestion: Break it into two or more statements and explain them one at a time.

In [2]:
# a) Read the attached file “master_data_ready.csv” and assign it to the variable ‘ep’
import pandas as pd
ep = pd.read_csv('entry_poll_fall16.csv')

In [3]:
# b) How many variables and responses are there? What are these variables and responses in terms of the dataset?
ep.shape

(85, 10)

ANS: 10 variables, with 85 responses. The variables seems like survey questions for this class (or similar class), and the 85 responses are the response of thoes survey questions.

In [4]:
# c) Display the datatypes of the variables.
ep.dtypes

TimeStamp                                                                                              object
Why have you enrolled in this course?                                                                  object
What program are you enrolled in?                                                                      object
How much programming experience have you had?                                                          object
How much experience with probability and statistics have you had?                                      object
What is your expected major or concentration?                                                          object
What career path most interests you?                                                                   object
Do you use social media for information purposes?  Check all that apply.                               object
What kinds of data most interest you?  List any that cross your mind.                                  object
If we have time -- and we may not -- what special topics would interest you?  Check all that apply.    object
dtype: object

All variables have data type "object".

In [5]:
# d) Change the variable names to something shorter.
ep = ep.rename(columns={"TimeStamp":"Time", "Why have you enrolled in this course?  ":"Reason for enrollment",
                  "What program are you enrolled in?":"Current Program", 
                   "How much programming experience have you had?":"Programming Experience",
                  "How much experience with probability and statistics have you had?":"Prob/Stat Experience",
                  "What is your expected major or concentration? ":"Major",
                  "What career path most interests you? ":"Interested Career Path",
                  "Do you use social media for information purposes?  Check all that apply.":"Social Media",
                  "What kinds of data most interest you?  List any that cross your mind.  ":"Interested Data",
                  "If we have time -- and we may not -- what special topics would interest you?  Check all that apply.":"Iterested Special Topic"})

In [6]:
ep.head(2)

,Time,Reason for enrollment,Current Program,Programming Experience,Prob/Stat Experience,Major,Interested Career Path,Social Media,Interested Data,Iterested Special Topic
0,2016-08-16 12:55:02,To help with my career,Undergraduate business,None,I have taken one probability or statistics course,Analytics or other quant,"Technology (Google, Amazon, etc)",Twitter,"Financial Data, Logistical Data, Housing Data",Multivariate regression;Maps
1,2016-08-31 05:54:00,I heard it was fun,Other undergraduate,None,None,NaN,Finance,None,NaN,"None, I'd prefer to focus on fundamentals."

In [7]:
# e) Describe what the following code does: ep[list(ep)[1]].value_counts(). 
# Suggestion: Break it into two or more statements and explain them one at a time.

ep[list(ep)[1]].value_counts()

To help with my career                               60
I heard it was fun                                   14
I lost my mind for a minute                           5
I code/build websites in my spare time as a hobby     1
To finish my major                                    1
i am living in Santiago de Chile                      1
Recommended by a professor.                           1
Wanted to try something completely different          1
I like a challenge                                    1
Name: Reason for enrollment, dtype: int64

In [8]:
list(ep)

['Time',
 'Reason for enrollment',
 'Current Program',
 'Programming Experience',
 'Prob/Stat Experience',
 'Major',
 'Interested Career Path',
 'Social Media',
 'Interested Data',
 'Iterested Special Topic']

First list(ep) turn columns name into a list.

In [9]:
list(ep)[1]

'Reason for enrollment'

Then it chooses the second index, as Python counts from 0, which is 'Reason for enrollment'.

In [10]:
ep[list(ep)[1]].head()

0    To help with my career
1        I heard it was fun
2        I like a challenge
3        I heard it was fun
4        I heard it was fun
Name: Reason for enrollment, dtype: object

Then the above code is same as ep['Reason for enrollement'], and it will show you all rows belong to this column.

In [11]:
ep[list(ep)[1]].value_counts()

To help with my career                               60
I heard it was fun                                   14
I lost my mind for a minute                           5
I code/build websites in my spare time as a hobby     1
To finish my major                                    1
i am living in Santiago de Chile                      1
Recommended by a professor.                           1
Wanted to try something completely different          1
I like a challenge                                    1
Name: Reason for enrollment, dtype: int64

Finally, value_counts() counts each unique values in that column.

### 2. Read the data set to your notebook. Modify the dataset to replace \N values everywhere in the dataset with NaN. Capitalize the first letter of each column name and assign the new names to the columns of the dataset.

In [12]:
df = pd.read_csv('master_data_ready.csv')

In [13]:
# Replace \N value with NaN everywhere.
import numpy as np
df = df.replace(r"\N", np.nan)

In [14]:
df.sample(1)

,job_id,vertical,company,post_date,fill_date,time_to_fill,salary,location,city,state,zip,county,region_state,latitude,longitude
190975,3038107179395527583442890985562,Information Technology,Bosch Group,2018-02-23,NaN,NaN,62599,"Walnut Ridge, AR",Walnut Ridge,AR,72476,Lawrence,AR NONMETROPOLITAN AREA,36.02439880371094,-90.92880249023438

In [15]:
# Caplitalize the first letter of each column name and assign new names to the columns of the dataset.
df.columns = [x.capitalize() for x in df.columns]

In [16]:
df.sample(2)

,Job_id,Vertical,Company,Post_date,Fill_date,Time_to_fill,Salary,Location,City,State,Zip,County,Region_state,Latitude,Longitude
66088,42590097433571718901556615006321,Information Technology,NaN,2016-09-10,2016-09-17,7,42849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67645,44576019150408094147599462257544,Information Technology,NaN,2017-02-14,NaN,NaN,80047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3. Using an appropriate pandas method present a column wise summary of nulls (or NaN)

In [17]:
df.isna().sum()

Job_id               0
Vertical             0
Company         110408
Post_date            0
Fill_date       151118
Time_to_fill    151118
Salary               0
Location        110730
City            112673
State           110823
Zip             114932
County          114610
Region_state    115592
Latitude        113595
Longitude       113595
dtype: int64

Above shows the sum of null value for each column.

### 4. Drop columns “latitude” and “longitude” from the modified data set and save to a new data frame. Let’s call it Master_Clean.

In [18]:
Master_Clean = df.drop(['Latitude', 'Longitude'], axis=1)

In [19]:
Master_Clean.sample(2)

,Job_id,Vertical,Company,Post_date,Fill_date,Time_to_fill,Salary,Location,City,State,Zip,County,Region_state
189878,20285041307268219277898871714479,Information Technology,Bay State,2017-02-22,NaN,NaN,87640,"Beaufort, SC",Beaufort,SC,29901,Beaufort,SC NONMETROPOLITAN AREA
17224,22471426996576483087396855396900,Information Technology,NaN,2017-06-22,NaN,NaN,92764,NaN,NaN,NaN,NaN,NaN,NaN

### 5. Using Master_Clean: Display jobs for the state “NY” that were posted in 2018.

In [20]:
Master_Clean.loc[(Master_Clean['Post_date'].str.contains('2018')) & (Master_Clean['State'] == 'NY')]

,Job_id,Vertical,Company,Post_date,Fill_date,Time_to_fill,Salary,Location,City,State,Zip,County,Region_state
43,49166544275228979011485468005581,Information Technology,IMAGINiT Technologies,2018-07-12,NaN,NaN,67138,"Rochester, NY",Rochester,NY,14602,Monroe,NaN
56,32216824414038021036854127631301,Information Technology,MUFG,2018-06-09,NaN,NaN,118019,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
122,17686258734635581425901950904423,Information Technology,RBC,2018-03-09,NaN,NaN,129057,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
284,68180000463505362721268597011820,Information Technology,Always Bagels,2018-01-30,NaN,NaN,45799,"Bohemia, NY 11716",Bohemia,NY,11716,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
324,75506920553773445036596485697789,Information Technology,Federal Reserve Bank of New York,2018-03-07,NaN,NaN,114411,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
363,467895701373045028283543226368,Information Technology,Wells Fargo,2018-03-22,NaN,NaN,110366,"New York, NY 10261 (Murray Hill area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
401,50485279672009898454911121142589,Information Technology,DISH Network,2018-01-11,NaN,NaN,32707,"Flushing, NY",Flushing,NY,11351,Queens,"New York-Northern New Jersey-Long Island, NY-N..."
419,51333496372464413223171949419278,Information Technology,Teachers College Columbia University,2018-03-14,NaN,NaN,47493,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
430,18396944660472507504542277085363,Information Technology,JP Morgan Chase,2018-05-24,NaN,NaN,155469,"Brooklyn, NY 11245 (Downtown area)",Brooklyn,NY,11245,Kings,"New York-Northern New Jersey-Long Island, NY-N..."
600,98550477161084188489066376128064,Information Technology,Stanley Black & Decker,2018-01-14,NaN,NaN,46193,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
622,5300000483730778286537489207643,Information Technology,Ralph Lauren,2018-02-23,NaN,NaN,92641,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
629,94516996256928574491330047487931,Information Technology,Cameron Craig Group,2018-02-01,NaN,NaN,150155,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
643,48476158435811127247708931642112,Information Technology,The New York Times,2018-04-11,NaN,NaN,66535,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
764,87504728153850971441130425901231,Information Technology,AXA,2018-01-27,NaN,NaN,85418,"Syracuse, NY",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
1104,2696105939387916160564326211846,Information Technology,Glory Global Solutions,2018-04-05,NaN,NaN,42936,"Hamburg, NY",Hamburg,NY,14075,Erie,"Buffalo-Niagara Falls, NY MSA"
1375,58723501807015432733721594581451,Information Technology,Cornell University,2018-03-13,NaN,NaN,59379,New York State,NaN,NY,NaN,NaN,NaN
1440,236521942553036418086001383896,Information Technology,New York Technology Partners,2018-03-16,NaN,NaN,75450,"Rochester, NY",Rochester,NY,14602,Monroe,NaN
1449,415349121354810943135797503470,Information Technology,Columbia University,2018-02-02,NaN,NaN,50956,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
1455,89393683620524664208128524249028,Information Technology,Securitas Electronic Security,2018-02-23,NaN,NaN,49626,"Middletown, NY",Middletown,NY,10940,Orange,"Poughkeepsie-Newburgh-Middletown, NY MSA"
1497,542917792728373007665722564775,Information Technology,Icon plc,2018-05-26,NaN,NaN,60934,"Farmingdale, NY",Farmingdale,NY,11735,Nassau,"New York-Northern New Jersey-Long Island, NY-N..."
1561,48020264441568927672366851147667,Information Technology,JP Morgan Chase,2018-06-07,NaN,NaN,167967,"New York, NY 10172 (Gramercy area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
1572,55157641510439738974694495602806,Information Technology,Harris Corporation,2018-06-20,NaN,NaN,125963,"Rochester, NY",Rochester,NY,14602,Monroe,NaN
1593,9230481372292022845456755852312,Information Technology,AT&T,2018-05-10,NaN,NaN,69704,"Shirley, NY",Shirley,NY,11967,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
1725,2430770416515896965637198734168,Information Technology,Rochester Institute of Technology,2018-03-13,NaN,NaN,53724,"Rochester, NY 14623",Rochester,NY,14623,Monroe,"Rochester, NY MSA"
1814,17800043801809774750475896980863,Information Technology,KLA-Tencor,2018-06-15,NaN,NaN,107731,"Malta, NY",Malta,NY,NaN,NaN,"Albany-Schenectady-Troy, NY MSA"
1929,43618288290019071415467283767645,Information Technology,Marsh,2018-05-04,NaN,NaN,64640,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
2064,20058100941873781076259371250836,Information Technology,EGW Personnel,2018-06-01,NaN,NaN,90170,"West Seneca, NY",West Seneca,NY,NaN,NaN,"Buffalo-Niagara Falls, NY MSA"
2122,67672646289841954190304222562626,Information Technology,Family Service League,2018-01-06,NaN,NaN,118468,"Huntington, NY",Huntington,NY,11743,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
2149,71766127817365679338445621712580,Information Technology,Société Générale,2018-05-03,NaN,NaN,151989,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
2162,79469812433179217818017160947095,Information Technology,Route 4 Auto Group,2018-04-02,NaN,NaN,49189,"Manhattan, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
197255,18969907972565992937327855096596,Information Technology,Rochester Institute of Technology,2018-03-06,NaN,NaN,44244,"Rochester, NY 14623",Rochester,NY,14623,Monroe,"Rochester, NY MSA"
197361,36046790707551154563521215910714,Information Technology,Trianz,2018-07-24,2018-09-13,51,114279,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
197368,8524828046409216745976823376079,Information Technology,Sisters of Charity Hospital - St. Joseph Campus,2018-04-13,NaN,NaN,57930,"Cheektowaga, NY",Cheektowaga,NY,NaN,NaN,"Buffalo-Niagara Falls, NY MSA"
197384,1311719669786119554146956771515,Information Technology,Performance Connectivity Inc.,2018-01-16,NaN,NaN,66164,"Purchase, NY 10577",Purchase,NY,10577,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
197564,50856440832349436360539868322162,Information Technology,IT Consulting,2018-02-23,NaN,NaN,103119,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
197880,8847539301471242419300630523660,Information Technology,Pure Storage,2018-04-14,NaN,NaN,148780,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
197910,94815303305634576837137950166525,Information Technology,AWS Mechanical,2018-05-05,NaN,NaN,46423,"Queens, NY",Queens,NY,11101,Queens,"New York-Northern New Jersey-Long Island, NY-N..."
197992,50321414282363859021768866379287,Information Technology,RBC,2018-01-17,NaN,NaN,91011,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
198024,39041548461717541373412730155378,Information Technology,Landmark Health,2018-05-26,NaN,NaN,172249,"Albany, NY",Albany,NY,12201,Albany,"Albany-Schenectady-Troy, NY MSA"
198189,569146260930962875804765510947,Information Technology,Taboola,2018-07-31,NaN,NaN,64421,"New York, NY 10010 (Gramercy area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
198561,7471868774061666461522698576353,Information Technology,CCBQ,2018-03-02,NaN,NaN,53845,"Queens, NY",Queens,NY,11101,Queens,"New York-Northern New Jersey-Long Island, NY-N..."
198603,9818366192349086671944775892514,Information Technology,Capital One,2018-02-28,NaN,NaN,33129,"Long Beach, NY 11561",Long Beach,NY,11561,Nassau,"New York-Northern New Jersey-Long Island, NY-N..."
198670,5382799510897294396466316554130,Information Technology,Custom Staffing,2018-02-14,NaN,NaN,93697,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
198801,91732396453308685145715421293170,Information Technology,JP Morgan Chase,2018-02-15,NaN,NaN,153442,"New York, NY 10001 (Chelsea area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
198988,9359392156982846413247249713824,Information Technology,KPMG,2018-03-18,NaN,NaN,120214,"New York, NY 10154 (Midtown area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199133,25898906526102308535443468941484,Information Technology,Wolters Kluwer,2018-02-28,NaN,NaN,135062,"New York, NY 10011 (Chelsea area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199166,16305241635443566880606153397239,Information Technology,Wolters Kluwer,2018-02-14,NaN,NaN,48790,"Albany, NY",Albany,NY,12201,Albany,"Albany-Schenectady-Troy, NY MSA"
199222,14064851454388698499979288682358,Information Technology,"Syndicate Claim Services, Inc.",2018-03-18,NaN,NaN,54295,"Syracuse, NY 13201 (Southwest area)",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
199224,8620746492604713440117444191734,Information Technology,Ithaca College,2018-06-08,NaN,NaN,57784,"Ithaca, NY 14850",Ithaca,NY,14850,Tompkins,"Ithaca, NY MSA"
199261,22951526576313531930218823616884,Information Technology,GTT,2018-01-31,NaN,NaN,123207,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199429,23195715127174399400005331847949,Information Technology,State of New York,2018-05-08,NaN,NaN,37756,"Syracuse, NY",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
199457,27263510140295428835718499697299,Information Technology,e-Frontiers,2018-05-30,NaN,NaN,102616,"Manhattan, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199541,51615168366031172817008531041075,Information Technology,Trigyn,2018-03-10,NaN,NaN,135541,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199592,388342878600022764972914668644,Information Technology,PAE,2018-02-01,NaN,NaN,29124,"New York, NY",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199618,85409671971447082949452856038518,Information Technology,Wells Fargo,2018-02-16,NaN,NaN,93882,"White Plains, NY 10606",White Plains,NY,10606,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199631,146402745847645853174089044109,Information Technology,Davidson,2018-07-25,NaN,NaN,66564,"Clay, NY 13041",Clay,NY,13041,Onondaga,"Syracuse, NY MSA"
199673,47938939537148512475744262642660,Information Technology,"DoubleVerify, Inc",2018-02-23,NaN,NaN,67922,"New York, NY 10018 (Clinton area)",New York City,NY,10010,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199704,5741777954729802139568042788995,Information Technology,HeartShare Human Services,2018-06-07,NaN,NaN,43421,"Brooklyn, NY 11201",Brooklyn,NY,11201,Kings,"New York-Northern New Jersey-Long Island, NY-N..."
199879,11671063450241489010755215465320,Information Technology,State of New York,2018-07-12,NaN,NaN,42158,"Syracuse, NY",Syracuse,NY,13201,Onondaga,"Syracuse, NY MSA"
199956,58574623550136009934413631679883,Information Technology,Medtronic,2018-06-26,NaN,NaN,83419,"White Plains, NY",White Plains,NY,10601,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."

### 6. Using Master_Clean: Display jobs from all states other than the states “NY” and “CA” that offer a salary higher than 80,000. Do NOT include jobs that have NaN values for state column.

In [21]:
Master_Clean[(Master_Clean['State'] != 'NY') & (Master_Clean['State'] != 'CA') & (~Master_Clean['State'].isna())
            & (Master_Clean['Salary'] > 80000)]

,Job_id,Vertical,Company,Post_date,Fill_date,Time_to_fill,Salary,Location,City,State,Zip,County,Region_state
4,490138684948094100363899533762,Information Technology,Mindteck,2018-02-20,2018-02-20,0,84921,"Research Triangle Park, NC",Research Triangle Park,NC,27709,Durham,"Durham, NC MSA"
5,74657902746882254946742123272434,Information Technology,Erickson Living,2016-10-13,2016-11-19,37,91550,"Catonsville, MD",Catonsville,MD,21228,Baltimore,"Baltimore-Towson, MD MSA"
14,84400929153273312343387471187380,Information Technology,AstraZeneca,2017-10-20,NaN,NaN,109380,"Newark, DE",Newark,DE,19702,New Castle,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
23,73008818513451263769918234460534,Information Technology,Weidenhammer Systems,2017-12-19,NaN,NaN,114036,"Wayne, PA 19087",Wayne,PA,19087,Delaware,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
27,18130503948134891967593913939232,Information Technology,Sarina Information Technology,2018-05-30,NaN,NaN,151934,"Washington, DC",Washington,DC,20001,District of Columbia,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
31,92708943921819158278275137368013,Information Technology,zodiac,2016-11-23,NaN,NaN,91097,"Gainesville, TX",Gainesville,TX,76240,Cooke,TX NONMETROPOLITAN AREA
40,9661280239453334742826718781338,Information Technology,LOCKHEED MARTIN CORPORATION,2018-06-13,NaN,NaN,109052,"Hanover, MD 21076",Hanover,MD,21076,Anne Arundel,"Baltimore-Towson, MD MSA"
42,406721259826597271166136103276,Information Technology,Net Health,2017-05-05,NaN,NaN,88408,"Brentwood, TN",Brentwood,TN,37024,Williamson,"Nashville-Davidson-Murfreesboro-Franklin, TN MSA"
53,7955450235772249401977199367187,Information Technology,Leidos,2018-02-07,NaN,NaN,147166,"Washington, DC 20001 (Shaw area)",Washington,DC,20001,District of Columbia,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
61,45230337933216733091735774621770,Information Technology,Microsoft,2018-02-06,NaN,NaN,125442,"Redmond, WA 98052",Redmond,WA,98052,King,"Seattle-Tacoma-Bellevue, WA MSA"
70,32300234787209199670389747356731,Information Technology,OST,2017-09-17,NaN,NaN,89640,"McLean, VA 22102",Mc Lean,VA,22102,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
79,681377002829632837068544453736,Information Technology,Capgemini,2018-07-10,NaN,NaN,89148,"Atlanta, GA",Atlanta,GA,30301,Fulton,"Atlanta-Sandy Springs-Marietta, GA MSA"
91,2294022611392523687558580960170,Information Technology,Texas A&M University Corpus Christi,2016-10-14,2016-11-20,37,80792,"Corpus Christi, TX",Corpus Christi,TX,78401,Nueces,"Corpus Christi, TX MSA"
98,479846345677436844332805134097,Information Technology,"PGA TOUR, Inc.",2016-11-05,2016-12-05,30,83562,"Ponte Vedra Beach, FL 32082",Ponte Vedra Beach,FL,32082,Saint Johns,"Jacksonville, FL MSA"
106,585290221529020586396558449210,Information Technology,Groupon,2017-01-17,2017-01-18,1,94825,"Hebron, KY 41048",Hebron,KY,41048,Boone,"Cincinnati-Middletown, OH-KY-IN MSA"
111,7322556087579982411331394292574,Information Technology,Kroger General Office,2018-03-08,NaN,NaN,84653,"Blue Ash, OH 45242",Blue Ash,OH,45242,Hamilton,"Cincinnati-Middletown, OH-KY-IN MSA"
113,67896938593777969319816987857458,Information Technology,E.ON Climate and Renewables,2018-07-07,NaN,NaN,92012,"Austin, TX 78701 (Downtown area)",Austin,TX,78701,Williamson,"Austin-Round Rock, TX MSA"
117,97985120333738407291384064447686,Information Technology,"TAD PGS, Inc",2018-02-15,NaN,NaN,107779,"Reston, VA",Reston,VA,20190,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
127,9262822776645422534243596775910,Information Technology,"Everbridge, Inc.",2017-08-15,NaN,NaN,127166,"Burlington, MA",Burlington,MA,01803,Middlesex,"Boston-Cambridge-Quincy, MA-NH MSA"
132,76815795931597383535130997277332,Information Technology,KNF&T Staffing Resources,2018-06-28,NaN,NaN,80215,"Boston, MA 02109 (Central area)",Boston,MA,02109,Suffolk,"Boston-Cambridge-Quincy, MA-NH MSA"
134,32050403263333033551530798576632,Information Technology,Revecent- Electrical Manufacturing,2016-10-27,2016-11-19,23,96597,"Boston, MA",Boston,MA,02108,Suffolk,"Boston-Cambridge-Quincy, MA-NH MSA"
140,841180897139267646091158867550,Information Technology,Larimer County,2017-12-09,NaN,NaN,93925,"Loveland, CO",Loveland,CO,80537,Larimer,"Fort Collins-Loveland, CO MSA"
152,4955411090799012533273354266631,Information Technology,SMART IT People,2017-08-14,NaN,NaN,95795,"Dallas, TX",Dallas,TX,75201,Dallas,"Dallas-Fort Worth-Arlington, TX MSA"
155,590453087687138472210015490856,Information Technology,The Vincit Group,2017-03-14,NaN,NaN,100874,"Chattanooga, TN",Chattanooga,TN,37401,Hamilton,"Chattanooga, TN-GA MSA"
170,2232585180554128357930863730305,Information Technology,Element6 Talent,2018-03-22,NaN,NaN,103950,"Brookfield, WI",Brookfield,WI,53005,Waukesha,"Milwaukee-Waukesha-West Allis, WI MSA"
172,13528279308638411373437076080331,Information Technology,Camber Corporation,2016-10-07,2016-10-15,8,87225,"San Antonio, TX 78216",San Antonio,TX,78216,Comal,"San Antonio, TX MSA"
176,98892870724669616565619510880097,Information Technology,Medtronic,2018-03-24,NaN,NaN,102361,"Philadelphia, PA",Philadelphia,PA,19019,Philadelphia,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
178,88821272302728088490022733682714,Information Technology,"Modern Technology Solutions, Inc. (MTSI)",2018-02-23,NaN,NaN,118187,"Tampa, FL",Tampa,FL,33601,Hillsborough,"Tampa-St. Petersburg-Clearwater, FL"
196,97867142837488402514277774467367,Information Technology,Wells Fargo,2018-04-08,NaN,NaN,93400,South Carolina,NaN,SC,NaN,NaN,NaN
205,93810100216751162694528269701067,Information Technology,"ReqRoute,Inc",2016-12-20,2016-12-21,1,90427,"McLean, VA",Mc Lean,VA,22101,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199811,66644845555063977759745221468072,Information Technology,BNY Mellon,2017-08-22,NaN,NaN,118748,"Jersey City, NJ 07306 (Journal Square area)",Jersey City,NJ,07306,Hudson,"New York-Northern New Jersey-Long Island, NY-N..."
199817,28189986413015382193773485784060,Information Technology,iMPact Business Group,2017-07-19,NaN,NaN,114348,"Lansing, MI",Lansing,MI,48901,Ingham,NaN
199823,67144701268990983306139084609661,Information Technology,"Wyntec, LLC",2018-05-01,NaN,NaN,103088,"Madison, WI",Madison,WI,53701,Dane,"Madison, WI MSA"
199824,23864138654917115586614382855586,Information Technology,Seneca Resources,2018-02-08,NaN,NaN,110465,"Centreville, VA",Centreville,VA,20120,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
199832,48668818823964996597604582690728,Information Technology,Rubius Therapeutics,2018-05-23,NaN,NaN,123239,"Cambridge, MA 02139 (Area IV area)",Cambridge,MA,02139,Middlesex,"Boston-Cambridge-Quincy, MA-NH MSA"
199841,20422894363981492072207094415903,Information Technology,Fiserv,2018-07-01,NaN,NaN,114488,"Bannockburn, IL 60015",Bannockburn,IL,60015,Lake,"Chicago-Naperville-Joliet, IL-IN-WI MSA"
199842,991330966318838185426710314825,Information Technology,EY,2017-10-10,NaN,NaN,102753,"Atlanta, GA",Atlanta,GA,30301,Fulton,"Atlanta-Sandy Springs-Marietta, GA MSA"
199849,2931557538817070613863014241943,Information Technology,ToolsGroup Inc.,2017-01-07,NaN,NaN,93532,"Boston, MA",Boston,MA,02108,Suffolk,"Boston-Cambridge-Quincy, MA-NH MSA"
199850,52793827212433104783507075445426,Information Technology,APAR Technologies,2017-08-04,NaN,NaN,84619,"Oaks, PA",Oaks,PA,19456,Montgomery,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
199851,33721924422733421020094324184691,Information Technology,Sandia National Laboratories,2017-02-10,NaN,NaN,104948,"Albuquerque, NM",Albuquerque,NM,87101,Bernalillo,"Albuquerque, NM MSA"
199858,10743012780908565822524456853657,Information Technology,Lumina Analytics,2018-07-25,NaN,NaN,94807,"Tampa, FL 33602 (Downtown area)",Tampa,FL,33602,Hillsborough,"Tampa-St. Petersburg-Clearwater, FL"
199873,92803753748390589578403354402993,Information Technology,Nielsen,2018-03-09,NaN,NaN,89791,"Oldsmar, FL",Oldsmar,FL,34677,Pinellas,"Tampa-St. Petersburg-Clearwater, FL"
199881,56998704510015908401183967054429,Information Technology,Flex,2018-04-03,NaN,NaN,102147,"Farmington Hills, MI",Farmington Hills,MI,48167,Wayne,"Detroit-Warren-Livonia, MI MSA"
199883,3326995720686802362414056060296,Information Technology,GlaxoSmithKline,2018-04-27,NaN,NaN,121152,"Collegeville, PA 19426",Collegeville,PA,19426,Montgomery,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA"
199900,75611024286625471647966796410699,Information Technology,Strategic IT Staffing,2018-02-01,NaN,NaN,89573,"Cincinnati, OH",Cincinnati,OH,45201,Hamilton,"Cincinnati-Middletown, OH-KY-IN MSA"
199906,48567356716758431267715048358223,Information Technology,DXC Technology,2017-05-04,NaN,NaN,96727,"Fort Meade, MD",Fort Meade,MD,20755,Anne Arundel,"Baltimore-Towson, MD MSA"
199908,55611745814807494056851258400317,Information Technology,Jindal Films,2018-05-17,NaN,NaN,88531,"LaGrange, GA 30240",LaGrange,GA,30240,Troup,GA NONMETROPOLITAN AREA
199911,5240714260723471463959794980949,Information Technology,TriQuest Business Services,2016-10-26,2017-01-24,90,148462,"San Antonio, TX",San Antonio,TX,78201,Comal,"San Antonio, TX MSA"
199927,36014695188139188602550873685790,Information Technology,"Vistex, Inc",2017-05-28,NaN,NaN,90597,"Hoffman Estates, IL 60169",Hoffman Estates,IL,60169,Cook,"Chicago-Naperville-Joliet, IL-IN-WI MSA"
199928,10352428307047742246659020218630,Information Technology,Compass Group USA,2017-08-17,NaN,NaN,101567,"Charlotte, NC",Charlotte,NC,28201,Robeson,"Charlotte-Gastonia-Concord, NC-SC MSA"
199931,42645467574831485947934124947265,Information Technology,Leidos,2018-06-17,NaN,NaN,103707,"Shaw AFB, SC 29152",Shaw AFB,SC,29152,Sumter,"Sumter, SC MSA"
199932,46298306566497354435376351819611,Information Technology,Cohesion Consulting & Staffing,2018-04-25,NaN,NaN,114953,"Cincinnati, OH",Cincinnati,OH,45201,Hamilton,"Cincinnati-Middletown, OH-KY-IN MSA"
199937,71150182893657383337814698793519,Information Technology,"PSI-ProTech Solutions, Inc.",2017-04-20,NaN,NaN,96530,"Dover, DE",Dover,DE,19901,Kent,"Dover, DE MSA"
199939,21611034267202896876834663680868,Information Technology,Customer Value Partners,2017-07-27,NaN,NaN,110200,"Columbia, MD",Columbia,MD,21044,Howard,"Baltimore-Towson, MD MSA"
199953,16097640182645324302974660355134,Information Technology,Spectrum,2018-06-07,NaN,NaN,109049,"Madison, WI 53774",Madison,WI,53774,Dane,"Madison, WI MSA"
199967,59727115888834976523614459530230,Information Technology,Department of the Army,2018-02-10,NaN,NaN,80576,"Rock Island, IL",Rock Island,IL,61201,Rock Island,"Davenport-Moline-Rock Island, IA-IL MSA"
199971,68059010730050456084819985225862,Information Technology,Booz Allen Hamilton,2018-01-20,NaN,NaN,81475,"McLean, VA",Mc Lean,VA,22101,Fairfax,"Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"
199976,23453717852758575601814024263130,Information Technology,City of Austin,2018-01-13,NaN,NaN,87472,"Austin, TX 78702 (Rosewood area)",Austin,TX,78702,Williamson,"Austin-Round Rock, TX MSA"
199982,60522090748706799278712939323611,Information Technology,Nesher Pharmaceuticals (USA) LLC,2017-06-14,NaN,NaN,108568,"Pennington, NJ",Pennington,NJ,08534,Mercer,"Trenton-Ewing, NJ MSA"
199992,88233823825428884801297692436220,Information Technology,"Harvard Partners, LLP",2017-02-28,NaN,NaN,112054,"Charlestown, MA",Charlestown,MA,02129,Suffolk,"Boston-Cambridge-Quincy, MA-NH MSA"

### 7. Using Master_Clean: How many jobs have NaN in the Time_to_fill column? Replace all these nulls (or NaN) with the median of this column. Display first 25 and last 25 entries.

In [22]:
# How many jobs have NaN in the Time_to_fill column?
Master_Clean['Time_to_fill'].isna().value_counts()

True     151118
False     48882
Name: Time_to_fill, dtype: int64

There are 151,118 NaN values in the Time_to_fill column

In [23]:
# Replace nulls with the median value
median = Master_Clean['Time_to_fill'].median()
Master_Clean['Time_to_fill'].fillna(median, inplace=True)

In [24]:
Master_Clean.sample(2)

,Job_id,Vertical,Company,Post_date,Fill_date,Time_to_fill,Salary,Location,City,State,Zip,County,Region_state
120370,9721124821006560133990613975629,Information Technology,NaN,2017-05-17,NaN,12,62840,NaN,NaN,NaN,NaN,NaN,NaN
79361,501523901514034925244875808034,Information Technology,NaN,2017-09-27,NaN,12,45837,NaN,NaN,NaN,NaN,NaN,NaN

### 8. Using Master_Clean: Display only company, posting date and salary of jobs that are listed for the state “NJ”. After filtering, exclude NaN from all columns

In [25]:
only_nj = Master_Clean.loc[Master_Clean['State'] == 'NJ']
only_nj[['Company', 'Post_date', 'Salary']].dropna()

                                                 Company   Post_date  Salary
248                                           Siemens AG  2018-03-21  117154
347                                        Stefanini Inc  2017-01-25  104023
425              On The Border Mexican Grill and Cantina  2017-08-02   17115
474                                                Ricoh  2018-03-15   39479
545                                           BNY Mellon  2016-10-28  104219
634                                       NFI Industries  2018-04-14   81348
724                                    Quest Diagnostics  2017-08-29   36549
833                                    Bed Bath & Beyond  2018-01-18  123018
916                                       APN Consulting  2018-07-17  109966
965                      Stewart's All American | Walker  2017-08-18   35169
974                           Partner's Consulting, Inc.  2017-01-19   86999
1035                              Mondelez International  2018-02-18   97201
1125                          Youth Consultation Service  2018-01-29   21086
1195                                  Bartlett Dairy Inc  2017-08-02   26575
1315             General Dynamics Information Technology  2018-07-11   73125
1334                                            Best Buy  2017-08-03   23932
1347                                           iconectiv  2016-08-20  116220
1522                          Cooper University Hospital  2018-07-04  133500
1541                                                KPMG  2018-02-17   82905
1568                               Hired by Matrix, Inc.  2017-08-17  102786
1688                                            Goodyear  2018-07-11   43320
1760                                              Leidos  2017-03-01   70362
1943                                       JCC Metrowest  2017-04-11   32516
2202                               Otsuka Pharmaceutical  2016-11-09   98599
2305                                      TSR Consulting  2017-08-29  101261
2428                     Open Systems Technologies, Inc.  2017-07-18   93779
2637                       Platinum Acorn solutions, LLC  2017-10-13  128767
2669                             Veterans Sourcing Group  2017-08-24   69115
2695                                          BNY Mellon  2018-03-09  107369
2718                                       Deutsche Bank  2016-09-02  116480
...                                                  ...         ...     ...
198182                     SHI International Corporation  2016-09-07  113373
198298                                      Ralph Lauren  2018-03-16  140397
198334                                         WALGREENS  2017-12-19   56739
198391                               Scarinci Hollenbeck  2018-02-06   48119
198562                                        ELLKAY LLC  2018-02-07  129393
198581                    St. Joseph's Healthcare System  2016-08-24   68675
198601                                Aftermath Services  2017-08-05   31845
198618                               Answer Human Assets  2018-01-29   69081
198624                               Smartlink, LLC (HQ)  2017-08-11  118550
198731                                   The Forum Group  2016-12-03   93696
198843                                Plastic Executives  2017-08-18  129917
198888                    Pinnacle Treatment Center KY-I  2018-03-23   43091
199019                New Jersey Institute of Technology  2018-05-03   68467
199023                                    ACT-Consulting  2017-05-31   88835
199060                             Smith Arnold Partners  2018-04-17   86318
199151                                         PDDN INC.  2017-08-15  164738
199184                                   JP Morgan Chase  2017-09-18  124990
199202                                              Citi  2018-02-22   95004
199226                                   Lockheed Martin  2018-05-01  110064
199271                              Integra LifeSciences  2018-06-04  127740
199319  Veterans Affairs, Veterans Health Administration  2018-01-25   51761
199377                                IDEXX Laboratories  2017-07-27   28329
199470                                       BNP Paribas  2018-01-29  146352
199474                       George Hildebrandt Trucking  2018-05-10   78352
199563                                              PSEG  2017-05-17  107233
199654                                     Bartech Group  2018-03-28  109679
199715                                      Forbes Media  2018-04-17   67176
199720           Infinity, a Stamford Technology Company  2017-01-25   98988
199811                                        BNY Mellon  2017-08-22  118748
199982                  Nesher Pharmaceuticals (USA) LLC  2017-06-14  108568

[2517 rows x 3 columns]

### 9. Using Master_Clean: Use the .isin() method to display company, posting date, time to fill and salaries of jobs in the states “NC”, “PA” or “TX”. After filtering, exclude NaN from all columns.

In [26]:
states_9 = ['NC', 'PA', 'TX']
Master_Clean.loc[Master_Clean['State'].isin(states_9)][['Company', 'Post_date', 'Time_to_fill', 'Salary']].dropna()

,Company,Post_date,Time_to_fill,Salary
4,Mindteck,2018-02-20,0,84921
19,WakeMed,2018-07-20,12,36773
23,Weidenhammer Systems,2017-12-19,12,114036
25,The Plastek Group,2018-05-05,12,59377
31,zodiac,2016-11-23,12,91097
72,Securitas USA - Shared Services,2018-01-19,12,61450
74,Edwards Aquifier Authority,2018-01-20,12,65023
90,Mondelez International,2018-03-31,12,46469
91,Texas A&M University Corpus Christi,2016-10-14,37,80792
99,BioBridge Global,2018-07-25,12,73964
113,E.ON Climate and Renewables,2018-07-07,12,92012
141,Emerson,2018-03-03,12,27632
152,SMART IT People,2017-08-14,12,95795
159,Safran,2018-06-19,12,70789
172,Camber Corporation,2016-10-07,8,87225
176,Medtronic,2018-03-24,12,102361
188,Adventist Health System,2018-07-12,12,37894
202,Baylor Scott & White Health,2018-07-19,12,57905
208,WellSpan Health Services,2016-12-04,4,71306
212,Common Threads,2017-08-04,12,22967
215,Hargrove Engineers + Constructors,2018-07-14,12,58453
219,General Electric,2018-05-25,12,99572
229,Ness Software Engineering Services,2018-03-04,12,130587
273,Airgas Inc.,2018-07-11,12,49444
275,Advocate Staffing,2018-02-06,12,179461
337,Mckesson,2016-12-20,5,114377
362,PACCAR,2017-01-19,15,96439
375,Neighbors Emergency Center,2018-01-11,12,61571
404,DataMasters,2018-04-26,12,121214
407,Global Process Automation,2016-10-21,21,109193
...,...,...,...,...
199472,Westinghouse Electric Company,2017-06-01,12,99763
199476,Methodist Health System,2018-05-22,12,29402
199477,CHI St. Lukes Health,2018-05-12,12,69343
199486,Intermedix,2018-05-26,12,40514
199505,MD Anderson Cancer Center,2018-06-28,12,79316
199508,AUTONATION,2018-07-24,12,57736
199510,Penske,2018-04-11,12,42672
199530,Sunpower,2016-10-04,11,34834
199531,Access Staffing LLC,2017-08-05,12,27288
199543,SPX FLOW,2018-06-04,12,38671
199550,Cape Fear Community College,2018-06-28,12,51179
199634,Wells Fargo,2018-01-10,12,105659
199752,"Advanced Micro Devices, Inc.",2016-10-18,121,72494
199777,A.C.Coy Company,2018-04-18,12,96306
199802,Hill-Rom,2017-01-06,21,93619
199818,Climate Controls & Security,2016-10-01,91,69434
199850,APAR Technologies,2017-08-04,12,84619
199872,"Hanger, Inc.",2018-04-17,12,75126
199883,GlaxoSmithKline,2018-04-27,12,121152
199887,Cook Children's Health Care System,2017-03-04,12,65220
199892,University of North Texas: Faculty,2018-02-20,12,68406
199898,JP Morgan Chase,2018-04-07,12,37325
199903,Hewlett Packard Enterprise,2018-01-28,12,47990
199911,TriQuest Business Services,2016-10-26,90,148462
199922,North Carolina Office of State Human Resources,2017-08-07,12,35686
199928,Compass Group USA,2017-08-17,12,101567
199948,Performant Financial Corporation,2018-07-06,12,38220
199959,Floor & Decor,2017-08-05,12,20191
199976,City of Austin,2018-01-13,12,87472
199995,Texell Credit Union,2017-08-19,12,31390

### 10. Using Master_Clean: Use the contains method to display city, state, county and regions of jobs that have “New York” or “Los Angeles-Long” in their region state value.

In [27]:
Master_Clean.loc[(Master_Clean['Region_state'].str.contains('New York', na=False)) | 
                 (Master_Clean['Region_state'].str.contains('Los Angeles-Long', na=False))][
    ['City', 'State', 'County', 'Region_state']]

,City,State,County,Region_state
1,Northridge,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
47,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
56,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
71,Melville,NY,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
122,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
137,Irvine,CA,Orange,"Los Angeles-Long Beach-Santa Ana, CA MSA"
222,Pasadena,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
268,Studio City,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
284,Bohemia,NY,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
315,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
324,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
334,Valencia,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
347,Jersey City,NJ,Hudson,"New York-Northern New Jersey-Long Island, NY-N..."
349,Sun Valley,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
350,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
363,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
394,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
401,Flushing,NY,Queens,"New York-Northern New Jersey-Long Island, NY-N..."
419,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
425,Paramus,NJ,Bergen,"New York-Northern New Jersey-Long Island, NY-N..."
430,Brooklyn,NY,Kings,"New York-Northern New Jersey-Long Island, NY-N..."
462,Los Angeles,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
474,Newark,NJ,Essex,"New York-Northern New Jersey-Long Island, NY-N..."
517,San Dimas,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
535,Rolling Hills Estates,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
545,Florham Park,NJ,Morris,"New York-Northern New Jersey-Long Island, NY-N..."
563,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
600,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
605,Los Angeles,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
622,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
...,...,...,...,...
199284,Azusa,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
199314,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199319,East Orange,NJ,Essex,"New York-Northern New Jersey-Long Island, NY-N..."
199342,NaN,CA,Orange,"Los Angeles-Long Beach-Santa Ana, CA MSA"
199352,Bellflower,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
199377,Totowa,NJ,Passaic,"New York-Northern New Jersey-Long Island, NY-N..."
199457,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199460,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199461,Pasadena,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
199470,Jersey City,NJ,Hudson,"New York-Northern New Jersey-Long Island, NY-N..."
199493,Burbank,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
199507,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199541,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199563,Newark,NJ,Essex,"New York-Northern New Jersey-Long Island, NY-N..."
199592,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199595,Harrison,NY,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199618,White Plains,NY,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199673,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199684,Los Angeles,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
199704,Brooklyn,NY,Kings,"New York-Northern New Jersey-Long Island, NY-N..."
199715,Jersey City,NJ,Hudson,"New York-Northern New Jersey-Long Island, NY-N..."
199720,Jersey City,NJ,Hudson,"New York-Northern New Jersey-Long Island, NY-N..."
199730,La Mirada,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
199743,Hollywood,CA,Los Angeles,"Los Angeles-Long Beach-Santa Ana, CA MSA"
199811,Jersey City,NJ,Hudson,"New York-Northern New Jersey-Long Island, NY-N..."
199827,Santa Ana,CA,Orange,"Los Angeles-Long Beach-Santa Ana, CA MSA"
199846,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."
199890,Stony Brook,NY,Suffolk,"New York-Northern New Jersey-Long Island, NY-N..."
199956,White Plains,NY,Westchester,"New York-Northern New Jersey-Long Island, NY-N..."
199981,New York City,NY,New York,"New York-Northern New Jersey-Long Island, NY-N..."

### 11. Using Master_Clean: Display company, vertical, posting date and salaries for all jobs posted during the years 2017 and 2018 in “New York” or “Seattle” region states that had salaries higher than 80,000. Exclude NaN from company column.

In [28]:
Master_Clean.loc[((Master_Clean['Post_date'].str.contains('2017')) 
                 | (Master_Clean['Post_date'].str.contains('2018'))) 
                 & ((Master_Clean['Region_state'].str.contains('New York', na=False)) 
                 | (Master_Clean['Region_state'].str.contains('Seattle', na=False))) 
                 & (Master_Clean['Salary'] > 80000)][['Company', 'Vertical', 'Post_date', 'Salary']].dropna(subset=['Company'])

,Company,Vertical,Post_date,Salary
47,AIG,Information Technology,2017-11-17,85995
56,MUFG,Information Technology,2018-06-09,118019
61,Microsoft,Information Technology,2018-02-06,125442
122,RBC,Information Technology,2018-03-09,129057
280,General Dynamics Information Technology,Information Technology,2017-06-17,84852
324,Federal Reserve Bank of New York,Information Technology,2018-03-07,114411
347,Stefanini Inc,Information Technology,2017-01-25,104023
363,Wells Fargo,Information Technology,2018-03-22,110366
374,T-Mobile,Information Technology,2018-06-29,112175
394,RBC,Information Technology,2017-12-02,115949
430,JP Morgan Chase,Information Technology,2018-05-24,155469
456,T-Mobile,Information Technology,2018-02-23,123745
622,Ralph Lauren,Information Technology,2018-02-23,92641
629,Cameron Craig Group,Information Technology,2018-02-01,150155
649,BCT Partners,Information Technology,2017-04-11,107948
791,"Techlink, Inc.",Information Technology,2017-10-20,94756
833,Bed Bath & Beyond,Information Technology,2018-01-18,123018
842,U.S. Federal Government,Information Technology,2017-08-18,155056
916,APN Consulting,Information Technology,2018-07-17,109966
1035,Mondelez International,Information Technology,2018-02-18,97201
1055,RSM US LLP,Information Technology,2017-01-28,110557
1312,Wildlife Computers,Information Technology,2018-05-21,86364
1539,Microsoft,Information Technology,2018-04-03,102296
1541,KPMG,Information Technology,2018-02-17,82905
1561,JP Morgan Chase,Information Technology,2018-06-07,167967
1568,"Hired by Matrix, Inc.",Information Technology,2017-08-17,102786
1652,Point Inside,Information Technology,2018-03-27,124554
1736,Microsoft,Information Technology,2018-04-09,128774
1910,Microsoft,Information Technology,2018-06-09,118003
1977,Fluke,Information Technology,2018-02-15,170126
...,...,...,...,...
198624,"Smartlink, LLC (HQ)",Information Technology,2017-08-11,118550
198670,Custom Staffing,Information Technology,2018-02-14,93697
198678,Bloomberg,Information Technology,2017-10-05,108966
198693,Microsoft,Information Technology,2018-03-08,135313
198750,Engineering Consultancy Firm,Information Technology,2017-08-19,83913
198801,JP Morgan Chase,Information Technology,2018-02-15,153442
198843,Plastic Executives,Information Technology,2017-08-18,129917
198988,KPMG,Information Technology,2018-03-18,120214
199023,ACT-Consulting,Information Technology,2017-05-31,88835
199060,Smith Arnold Partners,Information Technology,2018-04-17,86318
199101,REI,Information Technology,2017-01-31,107527
199133,Wolters Kluwer,Information Technology,2018-02-28,135062
199151,PDDN INC.,Information Technology,2017-08-15,164738
199184,JP Morgan Chase,Information Technology,2017-09-18,124990
199202,Citi,Information Technology,2018-02-22,95004
199261,GTT,Information Technology,2018-01-31,123207
199271,Integra LifeSciences,Information Technology,2018-06-04,127740
199314,School of Visual Arts,Information Technology,2017-04-12,87336
199457,e-Frontiers,Information Technology,2018-05-30,102616
199470,BNP Paribas,Information Technology,2018-01-29,146352
199478,Microsoft,Information Technology,2018-03-08,117584
199483,Greenpoint Technologies,Information Technology,2018-01-18,92378
199541,Trigyn,Information Technology,2018-03-10,135541
199563,PSEG,Information Technology,2017-05-17,107233
199618,Wells Fargo,Information Technology,2018-02-16,93882
199720,"Infinity, a Stamford Technology Company",Information Technology,2017-01-25,98988
199741,Frontier Communications Corporation,Information Technology,2018-03-21,84569
199811,BNY Mellon,Information Technology,2017-08-22,118748
199956,Medtronic,Information Technology,2018-06-26,83419
199981,Sidewalk Labs,Information Technology,2017-08-19,169620

### 12. Using Master_Clean: Calculate the percentage of jobs offering a six-figure salary or higher in the state “NY” in 2018.

In [29]:
six_fig_NY_2018 = Master_Clean.loc[(Master_Clean['Salary'] >= 100000) & (Master_Clean['State'] == 'NY') 
                 & (Master_Clean['Post_date'].str.contains('2018'))]

all_NY_2018 = Master_Clean.loc[(Master_Clean['State'] == 'NY') & (Master_Clean['Post_date'].str.contains('2018'))]

In [30]:
(len(six_fig_NY_2018) / len(all_NY_2018)) * 100

37.27637824023366

Jobs offering a sex-figures salary or higher in NY in 2018 was 37% of all jobs in NY in 2018.

### 13. Using Master_Clean: Calculate the percentage of job postings for the company “Wells Fargo” where the salary offered is above the mean of all salaries in the states of “NY” or “CA”.

In [31]:
# The mean of all salaries in the states of 'NY' or 'CA'
mean_sal_nyca = Master_Clean.loc[(Master_Clean['State'] == 'NY') 
                                 | (Master_Clean['State'] == 'CA')].agg({'Salary':'mean'}).item()
mean_sal_nyca

83551.04565557597

In [33]:
# The percentage of job postings for the company "Wells Fargo", of all jobs
jobs_wf_nyca = Master_Clean.loc[(Master_Clean['Company'] == 'Wells Fargo') & (Master_Clean['Salary'] > mean_sal_nyca)]
jobs_wf = Master_Clean.loc[Master_Clean['Company'] == 'Wells Fargo']

In [34]:
(len(jobs_wf_nyca) / len(jobs_wf)) * 100

73.78516624040921

The percentage of Wells Fargo job postings that are above the mean of all salaries in NY or CA, is about 74% of all Wells Fargo job postings.